<!--Call the Toaster-->
<partial name="_NotifyPartil" />

<!-- Start SideBar Menu -->
<div class="sidebar">

    <div class="header">
        <h4>  </h4>
        <div class="sidebar-buger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <ul class="sidebar-links">

         @if (User.IsInRole("Admin"))
        {
            <li onclick ="Active(this)" class="admin-page ">
                <a href="/Region/Index">
                <span>المناطق</span>
                <img src="~/Images/SidebarIcons/comments.png" alt="User Image" />
            </a>
        </li>
       
            <li onclick ="Active(this)" class="admin-page ">
                <a href="/Contract/Index">
                <span>العقود</span>
                    <img src="~/Images/SidebarIcons/subscribe.png" alt="User Image" />
                </a>
        </li>
        }

         @if (!User.IsInRole("NewUser"))
        {
        <li onclick="Active(this)" class="admin-page ">
            <a href="/Asset/Index">
                <span>الأصــول</span>
                <img src="~/Images/SidebarIcons/fav.png" alt="User Image" />
            </a>
        </li>
        }
        @if (User.IsInRole("Admin"))
        {
            <li onclick="Active(this)" class="admin-page ">
                <a href="/Payment/Index">
                    <span>سجل المدفوعات</span>
                    <img src="~/Images/SidebarIcons/subscribe.png" alt="User Image" />
                </a>
            </li>
        

            <li onclick="Active(this)" class="admin-page ">
                <a href="/User/Index">
                    <span>المستخدمين</span>
                    <img src="~/Images/SidebarIcons/user.png" alt="User Image" />
                </a>
            </li>
        }
         
    </ul>

</div>
